*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent-container{
    background-image: linear-gradient(grey,white);
    min-height: 100vh;
    border: 1px solid black;
}
.content{
    max-width: 900px;
    margin:  0 auto;
}

.img_container,img{
    border-radius: 50%;
}
.img_container,img{
    width: 300px;
    height: 300px;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top_section h1{
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
}

.top_section h4{
    text-align: end;
    font-size: 20px;
}

.about{
    margin-top: 50px;

}

.about h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 10px;
}

.about p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px; 
    text-align: justify; 
    
}

.biography{
    margin: 50px 0;
}

.biography h3{
    margin: 20px;
}

.biography ul{
    margin-left: 50px;
}

.biography li{
    margin-bottom: 15px;
}

footer{
    margin: 50px 0;

}

footer p{
    text-align: end;

}

  